.converter{

  max-width: 812px;
  margin: 50px auto;
  padding: 0 15px;

  &__head{
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    margin: 0 0 50px 0;
  }

  &__body{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 0 25px 0;
    justify-content: center;
    @media (max-width:768px) {
      flex-direction: column;
      height: auto;
    }
  }

  &__row{
    border-radius: 10px;
    height: 100%;
    font-size: 24px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    @media (max-width:908px) {
      font-size: 20px;
    }
    @media (max-width:768px) {
      font-size: inherit;
    }
    &_border{

    }
  }


  &__crypto-name{
    height: 100%;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 15px;
    justify-content: center;
    padding: 0 15px;
    border-left: 2px solid rgba(7, 28, 71, 0.12);
    font-weight: 700;
    border: 2px solid rgba(7, 28, 71, 0.12);
    border-left: none;
    border-radius: 0 10px 10px 0;
    &-title{
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 10px;
    }

    img{
      width: 40px;
      height: 20px;
    }

  }

  &__arrow{
    height: 35px;
    object-fit: contain;
    cursor: pointer;
    width: 20px;
    background: #999;
    -webkit-mask: url(//yastatic.net/s3/web4static/_/v2/static/media/Swap_16.c0236c02.svg) no-repeat center;
    mask: url(//yastatic.net/s3/web4static/_/v2/static/media/Swap_16.c0236c02.svg) no-repeat center;
  }

  &__input{
    border: 2px solid rgba(7, 28, 71, 0.12);
    border-radius: 10px 0 0 10px;
    height: 100%;
    font-family: HelveticaNeue-Light,"Helvetica Neue Light",Helvetica,Arial,sans-serif;
    font-size: inherit;
    text-align: right;
    width: 201px;
    color: #000;
    position: relative;
    top: 0;
    padding: 0;
    outline: none;
    @media (max-width:768px) {
      border-width: 0;
    }
    
  }
  &__footer{   
    font-size: 18px;
    text-align: center;
  }
}